.addstudent{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    border: 1px solid black;
    width: 300px;
    padding: 20px;
    margin: auto; 

   
}

.addstudent > div{
    margin: 8px;
    justify-content: space-between;
  
}

.addstudent  input{
    padding: 5px;
}